// Configuration
@import "../node_modules/bootstrap/scss/functions";


$primary: #987ec0;
$secondary: #7e90c0;
$success: #20ad6b;
$info: #9ec5fe;
$warning: #ffcd39;
$danger: #e35d6a;
$light: #ffffff;
$dark: #18191b;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$body-bg-dark: #18191b;
$body-secondary-bg-dark: #252729;
$body-tertiary-bg-dark: #1e1f22;

$border-width:  2px;
$border-widths: (
  1: 2px,
  2: 3px,
  3: 4px,
  4: 5px,
  5: 6px
);

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Prompt:wght@300&family=REM:wght@300&display=swap');

body {
  contain: paint;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  //font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
}

.heroTitle {
  padding: 1rem 3rem;

  font-family: "Nabla";
  font-size: 5rem;
  margin: 0;
}

.repoCards {
  padding: 1rem 4rem;
  columns: 4 300px;
  /*flex-direction: column;*/
  box-sizing: border-box;
  //flex-wrap: wrap;

  a {
    display: inline-block;
    border: 2px solid #2f3333;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  
  p {
    margin: 0.25rem;
  }

  span {
    margin-right: 8px;
    box-sizing: border-box;
    
    vertical-align: middle;
    
    svg {

    }

    &.tag {
      border: 2px solid #2f3333;
    }
  }
}